<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-4.0.0-beta.2/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.2.1.js"></script>
	<script type="text/javascript" src="dec.js"></script>
	<script type="text/javascript" src="bootstrap-4.0.0-beta.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<h2>Architecture and Monuments</h2>
	<ul>
		<li>Fort</li>
		<div id="slidecontainer">
	  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
		<li>Temples</li>
		<div id="slidecontainer">
	  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
		<li>Museum</li>
		<div id="slidecontainer">
	  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
		<li>Palaces</li>
		<div id="slidecontainer">
	  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
		<li>Castles</li>
		<div id="slidecontainer">
	  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
		</div>
	</ul>
	<div id="slidecontainer">
	  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
	</div>
</body>
</html>